* {
  margin: 0;
  padding: 0;
}

body {
  background: #68c7ba;
}

#canvas {
  display: flex;
  justify-content: center;
  margin: auto;
  // display: block;
}

span, div {
  position: relative;
  color: #aaa;
  width: 100%;
  margin: auto;
  font-family: Helvetica;
  text-align: center;
}

div {
  bottom: 60px;
  a {
    text-decoration: none;
    color: #2266bb;
    &:first-child {
      margin-right: 20px;
    }
  }
}
